<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/e425d568-3719-4dc0-be9c-3dca876bc9a6/resourceGroups/rg-store/providers/Microsoft.Web/sites/StoreForWeb</ResourceId>
    <ResourceGroup>rg-store</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://storeforweb.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://storeforweb.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$StoreForWeb</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>